<h1>Tasks</h1>

{% comment %} Incomplete Tasks Above {% endcomment %}
<h2>To Do:</h2>
<ul>
    {% comment %} Create an list element containing a hyperlink for each 
    uncompleted task.
    {% endcomment %}
    {% for task in uncompleted_tasks %}
        <li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
    {% endfor %}
</ul>

{% comment %} Completed Tasks Below {% endcomment %}
<h2>Completed Tasks:</h2>
{% comment %} Display a message if there are no completed tasks. 
{% endcomment %}
{% if not completed_tasks %}
<p>You have no completed tasks. Get going!</p>
{% endif %}

<ul>
    {% comment %} Same procedure as for uncompleted tasks. {% endcomment %}
    {% for task in completed_tasks %}
        <li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
    {% endfor %}
</ul>

{% comment %} Task creation form. {% endcomment %}
<form action="{% url 'todo_list' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="create" value="Create" />
</form>