<h1>Notes to Self</h1>
<ol>
    {% comment %} Create an li for each note. {% endcomment %}
    {% for note in notes %}
        <li>{{ note.text }}</li>
    {% endfor %}
</ol>

{% comment %} Note creation form. {% endcomment %}
<form action="{% url 'notes' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="add_note" value="Add Note" />
</form>

{% comment %} Link to Todo App page {% endcomment %}
<h3>Switch to <a href="{% url 'todo_list' %}">Todo List</a>
</h3>
